/* 
---------------------------------------------
Slideshow Style
--------------------------------------------- 
*/

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}
.mySlides img {
  width: 100%;
  border-radius: 25px;
}
