/*
---------------------------------------------
font & reset css
--------------------------------------------- 
*/
@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap");
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header,
nav,
section,
article,
aside,
footer,
hgroup {
  display: block;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}

/* 
---------------------------------------------
Utilities
--------------------------------------------- 
*/
.nowrap {
  white-space: nowrap;
}

.margin-top {
  margin-top: 20px;
}
/* 
---------------------------------------------
Pre-loader Style
--------------------------------------------- 
*/
.js-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.99);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.js-preloader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@-webkit-keyframes dot {
  50% {
    -webkit-transform: translateX(96px);
    transform: translateX(96px);
  }
}

@keyframes dot {
  50% {
    -webkit-transform: translateX(96px);
    transform: translateX(96px);
  }
}

@-webkit-keyframes dots {
  50% {
    -webkit-transform: translateX(-31px);
    transform: translateX(-31px);
  }
}

@keyframes dots {
  50% {
    -webkit-transform: translateX(-31px);
    transform: translateX(-31px);
  }
}

.preloader-inner {
  position: relative;
  width: 142px;
  height: 40px;
  background: transparent;
}

.preloader-inner .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  background: #0071f8;
  border-radius: 50%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation: dot 2.8s infinite;
  animation: dot 2.8s infinite;
}

.preloader-inner .dots {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  -webkit-animation: dots 2.8s infinite;
  animation: dots 2.8s infinite;
}

.preloader-inner .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  background: #0071f8;
  border-radius: 50%;
}

/* 
---------------------------------------------
Body Style
--------------------------------------------- 
*/
body {
  background-color: #c2dafe;
  color: black;
  transition: background-color 0.5s, color 0.5s;
  --SINGLE-PAGE-COLOR: black;
}
/* 
---------------------------------------------
Nav Style
--------------------------------------------- 
*/
nav {
  border-radius: 0px 0px 25px 25px;
  background-color: #052c65 !important;
  box-shadow: 0 2px 20px rgba(207, 212, 222, 1);
  transition: background-color 0.5s, color 0.5s;
}

.brand {
  font-family: "Libre Baskerville", serif;
}
/* 
---------------------------------------------
Search Result Style
--------------------------------------------- 
*/
#js-search-main {
  text-align: center;
}
#searchHeading {
  text-align: center;
  margin-top: 80px;
  text-decoration: underline;
  font-weight: 900;
  font-family: Times New Roman;
}

.noSearchResult {
  text-align: center;
  margin-top: 20px;
}
/* 
---------------------------------------------
Banner Style
--------------------------------------------- 
*/
.main-banner {
  background-image: url(../images/banner-bg.jpg);
  transition: background-image 0.5s;
  border-radius: 0px 0px 150px 150px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 125px 0px;
}

.main-banner .caption h6 {
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.main-banner .caption h2 {
  font-size: 48px;
  color: #fff;
  margin-top: 20px;
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 40px;
}

.main-banner .caption h2:after {
  position: absolute;
  background-image: url(../images/caption-dec.png);
  width: 202px;
  height: 12px;
  content: "";
  left: 125px;
  bottom: 0;
}

.main-banner .caption p {
  color: #fff;
  margin-bottom: 70px;
  font-family: "Edu SA Beginner", cursive;
}
/* 
---------------------------------------------
Featured Style
--------------------------------------------- 
*/
.Featured-movies h3 {
  font-weight: 900;
  font-size: 2.5rem;
}
.Featured-movies h4 {
  color: #000;
  font-weight: 900;
  font-style: italic;
}
.Featured-movies p {
  color: #000;
  font-style: italic;
}
/* 
---------------------------------------------
Footer Style
--------------------------------------------- 
*/
footer {
  margin-top: 50px;
  margin-bottom: 0px;
  background-color: #0071f8;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/footer-bg.jpg);
  transition: background-image 0.5s;
  transition: background-color 0.5s, color 0.5s;
  min-height: 150px;
  border-radius: 150px 150px 0px 0px;
}

footer p {
  text-align: center;
  line-height: 90px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

footer p a {
  color: #fff;
  transition: all 0.3s;
  position: relative;
  z-index: 3;
}

footer p a:hover {
  opacity: 0.75;
}
/* 
---------------------------------------------
Page Header Style
--------------------------------------------- 
*/
.page-heading {
  background-image: url(../images/page-heading-bg.jpg);
  transition: background-image 0.5s;
  border-radius: 0px 0px 150px 150px;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0px 100px 0px;
  text-align: center;
}

.page-heading span {
  display: inline-block;
  font-size: 16px;
  color: #fff;
}

.page-heading span a {
  color: #fff;
}

.page-heading h3 {
  font-size: 48px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 20px;
  position: relative;
  margin-bottom: 20px;
}
/* 
---------------------------------------------
Movie Page Style
--------------------------------------------- 
*/
.movie__main {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 10px;
  margin-bottom: 20px;
}

.movie__container {
  display: flex;
  background-color: #0071f8;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.movie__link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.movie__container:hover,
.movie__container:focus {
  opacity: 0.8;
}

.movie__container__image {
  width: 100px;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  margin-right: 0.5rem;
}

.movie__container__image img {
  width: 100%;
  border-radius: 5px;
}

.movie__container__text {
  height: 148px;
  overflow-y: hidden;
}

.movie__name,
.movie__genre,
.movie__ratings,
.movie__description {
  margin: 0;
}

.movie__container__text {
  flex-grow: 0;
}

/* 
---------------------------------------------
Single Page Style
--------------------------------------------- 
*/
.single-product {
  color: var(--SINGLE-PAGE-COLOR);
  transition: color 0.5s;
}
.sep {
  width: 100%;
  height: 1px;
  background-color: #eee;
  margin: 80px 0px;
}

.left-image img {
  border-radius: 25px;
}

.single-product p {
  
}

.single-product ul {
  margin-top: 20px;
}

.single-product ul li {
  display: block;
  margin: 20px 0px;
  font-size: 14px;
    color: var(--SINGLE-PAGE-COLOR);
  border-bottom: 3px solid black;
  transition: color 0.5s;
}

.single-product ul li:last-child {
  margin-bottom: 0px;
}

.single-product ul li span {
  width: 120px;
  display: inline-block;
  font-weight: 900;
}

.single-product h2 {
  font-size: 2rem;
  font-weight: bold;
}

.single-product iframe {
  border: 3px solid black;
}

.single-pruduct-related {
  font-size: 2rem;
  color: var(--SINGLE-PAGE-COLOR);
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.trending-filter {
  list-style: none;
  text-align: center;
  margin-bottom: 70px;
}

.trending-filter li {
  display: inline-block;
  margin: 5px 8px;
}

.trending-filter li a {
  display: inline-block;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #1e1e1e;
  background-color: #eee;
  padding: 8px 20px;
  border-radius: 25px;
  transition: all 0.3s;
}

.trending-filter li a.is_active ound-color: #ee626b;
  color: #fff;
}

.trending-filter li a.is_active:hover {
  color: #fff;
}

.trending-filter li a:hover {
  color: #ee626b;
}

.downloadButton a {
  color: white !important;
}

#related ul {
  list-style-type: none;
  text-align: center;
}
#related ul a{
  color: var(--SINGLE-PAGE-COLOR);
  text-decoration: underline !important;
}

.not-found-message {
  color: var(--SINGLE-PAGE-COLOR);
}
/* 
---------------------------------------------
Dark Mode Style
--------------------------------------------- 
*/
body.dark-mode {
  background-color: #565a5c;
  color: white;
  transition: background-color 0.5s, color 0.5s;
  --SINGLE-PAGE-COLOR: white;
}

.dark-mode footer {
  background-image: url(../images/footer-bg-dark.jpg);
  transition: background-image 0.5s;
  background-color: #1b1b1d;
}

.dark-mode .main-banner {
  background-image: url(../images/banner-bg-dark.jpg);
  transition: background-image 0.5s;
}

.dark-mode .page-heading {
  background-image: url(../images/page-heading-bg-dark.jpg);
  transition: background-image 0.5s;
}

.dark-mode nav {
  background-color: #212429 !important;
  transition: background-color 0.5s;
}

.dark-mode .Featured-movies p {
  color: #fff;
}

.dark-mode .Featured-movies h4 {
  color: #fff;
}

.dark-mode .see-more {
  background-color: #212429 !important;
  transition: background-color 0.5s;
}

.dark-mode .movie__container {
  background-color: #1b1b1d;
  transition: background-color 0.5s;
}
.darkModeButton {
  background-color: transparent;
  border: none;
  font-size: 1.3em;
  font-weight: bold;
  color: white;
  margin-right: 2px;
}
