@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.nowrap {
  white-space: nowrap;
}

/*NAVIGATION BAR*/
.welcome {
  font-family: "Libre Baskerville", serif;
  font-weight: 900;
}
nav {
  border-radius: 0px 0px 25px 25px;
}
#darkModeButton {
  background-color: transparent;
  border: none;
  padding: 2px;
  cursor: pointer;
}
@media (max-width: 991px) {
  .container-fluid.small-screen-search {
    display: block; /* Show the element on screens less than 992px */
  }
  .big-screen-search {
    display: none; /* Hide the form on screens less than 992px */
  }
}

@media (min-width: 992px) {
  .container.small-screen-search {
    display: none; /* Hide the element on screens 992px and higher */
  }
  .big-screen-search {
    display: block; /* Show the form on screens 992px and higher */
  }
}

.carousel-item img {
  border-radius: 9px;
}

footer {
  margin-bottom: 0px;
}
.movie__main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 10px;
  margin-bottom: 20px;
}

.movie__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #188251;
}

.movie__link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.movie__container:hover,
.movie__container:focus {
  opacity: 0.8;
}

.movie__container__image {
  width: 100px;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  margin-right: 0.5rem;
}

.movie__container__image img {
  width: 100%;
  border-radius: 5px;
}

.movie__container__text {
  height: 148px;
  overflow-y: hidden;
}

.movie__name,
.movie__genre,
.movie__ratings,
.movie__description {
  margin: 0;
}

.movie__container__text {
  flex-grow: 0;
}
